In [1]:
#Libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from scipy import sparse
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from scipy.spatial.distance import correlation
from sklearn.decomposition import TruncatedSVD
import warnings
from scipy.sparse.linalg import svds

In [2]:
#Reading and cleaning the dataset 
df = pd.read_stata('Dataset_merged.dta').drop(columns=['timestamp', '_merge']).dropna()
df['userid'] = df['userid'].astype(int)

In [3]:
df

          userid  movieid  rating                           title
0          55889        1     3.5                Toy Story (1995)
1          64965        1     4.5                Toy Story (1995)
2          61730        1     3.0                Toy Story (1995)
3          68941        1     5.0                Toy Story (1995)
4          34902        1     5.0                Toy Story (1995)
5           3366        1     4.0                Toy Story (1995)
6          52070        1     3.0                Toy Story (1995)
7          35235        1     4.0                Toy Story (1995)
8          55417        1     4.0                Toy Story (1995)
9          49932        1     5.0                Toy Story (1995)
10         15609        1     5.0                Toy Story (1995)
11         57654        1     3.0                Toy Story (1995)
12         63147        1     4.0                Toy Story (1995)
13         56075        1     3.5                Toy Story (1995)
14         60169        1     3.5                Toy Story (1995)
15         30742        1     4.0                Toy Story (1995)
16         48243        1     4.5                Toy Story (1995)
17         40464        1     5.0                Toy Story (1995)
18          7333        1     4.0                Toy Story (1995)
19         58589        1     4.0                Toy Story (1995)
20         53769        1     3.0                Toy Story (1995)
21         39658        1     5.0                Toy Story (1995)
22         21781        1     4.0                Toy Story (1995)
23          5652        1     4.0                Toy Story (1995)
24         34892        1     5.0                Toy Story (1995)
25         39200        1     4.0                Toy Story (1995)
26         39729        1     4.0                Toy Story (1995)
27         32612        1     4.0                Toy Story (1995)
28         20430        1     5.0                Toy Story (1995)
29         17428        1     5.0                Toy Story (1995)
...          ...      ...     ...                             ...
10000024   59269    65027     2.5          Death Kiss, The (1933)
10000025   30840    65037     3.5                    Ben X (2007)
10000026   33942    65037     3.5                    Ben X (2007)
10000027   61675    65037     3.0                    Ben X (2007)
10000028   30879    65037     2.5                    Ben X (2007)
10000029   27584    65037     4.5                    Ben X (2007)
10000030   35579    65037     3.5                    Ben X (2007)
10000031   18880    65088     4.0          Bedtime Stories (2008)
10000032   63100    65088     2.5          Bedtime Stories (2008)
10000033   48657    65088     4.0          Bedtime Stories (2008)
10000034   38234    65088     3.0          Bedtime Stories (2008)
10000035   25597    65088     4.0          Bedtime Stories (2008)
10000036   31517    65088     2.5          Bedtime Stories (2008)
10000037   54654    65088     1.0          Bedtime Stories (2008)
10000038   56091    65088     3.5          Bedtime Stories (2008)
10000039   23582    65091     3.5      Manhattan Melodrama (1934)
10000040   59269    65091     3.5      Manhattan Melodrama (1934)
10000041    6757    65091     4.0      Manhattan Melodrama (1934)
10000042   64621    65126     3.5                    Choke (2008)
10000043   52648    65126     3.0                    Choke (2008)
10000044   63100    65126     4.5                    Choke (2008)
10000045   26920    65130     2.5       Revolutionary Road (2008)
10000046   49138    65130     2.0       Revolutionary Road (2008)
10000047   24495    65133     4.0  Blackadder Back & Forth (1999)
10000048    3149    65133     2.0  Blackadder Back & Forth (1999)
10000049   45430    65133     2.5  Blackadder Back & Forth (1999)
10000050   68151    65133     5.0  Blackadder Back & Forth (1999)
10000051   19957    65133     5.0  Blackadder Back & Forth (1999)
10000052   33384    65133     3.0  Blackadder Back & Forth (1999)
10000053   40570    65133     2.0  Blackadder Back & Forth (1999)

[10000054 rows x 4 columns]

In [4]:
#Splitting dataset
df_train, df_test = train_test_split(df, test_size=0.3, random_state=0)

In [5]:
#Sparse Matrix Train
# pivot ratings into movie features
df_movie_features1 = df_train.pivot(
    index='movieid',
    columns='userid',
    values='rating'
).fillna(0)
# convert dataframe of movie features to scipy sparse matrix
mat_movie_features_train = csr_matrix(df_movie_features1.values)

In [6]:
#Sparse Matrix Test
# pivot ratings into movie features
df_movie_features2 = df_test.pivot(
    index='movieid',
    columns='userid',
    values='rating'
).fillna(0)
# convert dataframe of movie features to scipy sparse matrix
mat_movie_features_test = csr_matrix(df_movie_features2.values)

**User-Based kNN method**

**Matrix Factorization**

In [12]:
#R train matrix
R_df_train = df_train.pivot_table(
    index='userid',columns='title', values='rating').fillna(0)

#R test matrix
R_df_test = df_test.pivot_table(
    index='userid',columns='title', values='rating').fillna(0)

In [8]:
R_df_train.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...All the Marbles (a.k.a. The California Dolls) (1981),...And God Created Woman (Et Dieu... crÃÂ©a la femme) (1956),...And God Spoke (1993),...And Justice for All (1979),"1, 2, 3, Sun (Un, deuz, trois, soleil) (1993)",...,Zorba the Greek (Alexis Zorbas) (1964),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),[Rec] (2007),eXistenZ (1999),ffolks (a.k.a. North Sea Hijack) (1980),loudQUIETloud,xXx,"ÃÂge d'or, L' (1930)"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
#De-meaning the R train matrix
R = R_df.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [11]:
#SVD with k latent factors 
U, sigma, Vt = svds(R_demeaned, k = 2)

KeyboardInterrupt:

In [ ]:
sigma = np.diag(sigma)

In [ ]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)

In [ ]:
preds_df.head()

In [ ]:
#mat_movie_features_train2.shape

In [ ]:
#X = mat_movie_features_train2.values.T
#X.shape

In [ ]:
#SVD = TruncatedSVD(n_components = 12, random_state = 17)
#matrix = SVD.fit_transform(X)
#matrix.shape

In [ ]:
#warnings.filterwarnings("ignore", category=RuntimeWarning#)
#corr = np.corrcoef(matrix)
#corr.shape